* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}
 
a {
    text-decoration: none;
    color: inherit;
}

button {
     background-color: transparent;
     border: none;
     color: #ffff; 
     font-size: 25px;
     cursor: pointer; 
}



.reel-page {
	height: 100vh; 
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

/*header*/
.reel-header {
    display: flex;
	position: absolute;
	align-items: center;
	justify-content: space-between;
    top: 20px;
  	left: 0;
	right: 0;
    gap:10px;	
}

/*buttons header*/

 .reel-header button {

    padding: 16px 28.4px;
 }  
 
/* nav menu*/
 nav {
    display: flex;
    gap: 10px;
 }


/*a header*/
.reel-header a {
 
    font-weight: 600;
    font-size: 16px;
    color: #5b78a0;
}
/*new content on seguiti*/
.reel-header #new {
     position: relative;
}
.reel-header #new::after {
     content: '';
     position: absolute;
     top: -4px;
     right: -6px;
     width: 7px;
     height: 7px;
     background-color: #642d60;
     border-radius: 50%;
}
/*border Per te */
.reel-header #border {
    position: relative;
    color:#ffff;
}

.reel-header #border::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;              
    transform: translateX(-50%);
    border-bottom: 3px solid #fff;
}

/*a, p and button above footer*/
.reel-page .above-footer a {
    display: flex;
    position: absolute;
    padding: 6px 8px 6px;
    font-weight: 800;
    font-size: 15px;
    bottom:160px;
    left: 16px;
    color: #fff;
}

.reel-page .above-footer p {
    display: flex;
    position: absolute;
    padding: 6px 8px 6px;
    font-size: 15px;
    font-weight: 500;
    bottom:110px;
    left: 16px;
    color: #fff;
}

.reel-page .above-footer button {
    display: flex;
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    bottom:7px;
    left: 105px;
}




/* footer */

footer {
    display: flex;
	position: absolute;
    align-items: center;
    justify-content: space-around; 
    min-height: 100px;
    left: 0;
	right: 0;
	bottom: 0;
    background-color: black;  
    
}



footer .nav-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 10px;
    color: #938f8f;
}

/*buttons footer*/
footer .nav-item button {
    color: #938f8f;
}

footer .nav-item button.white {
    color: #ffff;
}

footer .nav-item button#note-badge {
    position: relative;
}


/*badge notification on button Posta in arrivo*/
 .badge{
  content:"";
  display: flex;
  position: absolute;
  bottom:16px;
  left: 14px;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 16px;
  padding: 0 6px;
  background: #ff3b30; 
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 999px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
 
}



footer span#white {
    font-size: 10px; 
    color: #ffff;
}


/*button footer central*/
     
footer #add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:10px;
    font-size: 22px;
    width: 40px;
    height: 30px;
    background-color: #fff;
    color: black;
    border-radius: 9px;
    box-shadow: 
        -3px 0 0px #00eaff,   
         3px 0 0px #ff00cc;    
}









/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column; 
    align-items: center;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
    gap:30px;
}

/*profile image icon*/
.sidebar figure img {
    width: 50px;          
    height: 50px;
    border-radius: 50%;    
    object-fit: cover;     
    border: 2px solid #fff; 
}



/* button aroud profile image*/
 .sidebar figure .circle {
     display: flex;
     flex-direction: column; 
     justify-content: center;
     align-items: center;
     position: absolute;
     width: 22px;
     height: 22px;
     font-size: 24px;
     border-radius: 50%;
     background: #ff3b30;
     color:#fff;
     top: 39px;
     left: 30px;
}

/* settings buttons icons sidebar*/
.sidebar .side-item {
     display: flex;
     flex-direction: column; 
     align-items: center;
}
     

.sidebar .side-item span#white {
     display: flex;
     flex-direction: column; 
     align-items: center;
     font-size: 15px;
     color: #ffff;
}
