* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}
 
a {
    text-decoration: none;
    color: inherit;
}

button {
     background-color: transparent;
     border: none;
     color: #ffff; 
     font-size: 22px;
     cursor: pointer; 
}



.reel-page {
	height: 100vh; 
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

/*header*/
.reel-header {
    display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
    top: 25px;
  	left: 0;
	right: 0;
    gap:10px;	
}

/*buttons header*/
.reel-header .left {
   margin-right: 100px;
     
}

.reel-header .right {
     margin-left: 100px;
     
 }

 /*icon on Seguiti*/
.reel-header i.bi-plus-circle-fill {
     display: flex;
     align-items: center;
     position: absolute;
     font-size: 7px;
     border-radius: 50%;
     background: #642d60;
     color: #642d60;
     bottom:21px;
     right: 218px;

}

/*a header*/
.reel-header a {
 
    font-weight: 600;
    font-size: 16px;
    color: #5b78a0;
}


/*border Per te */
.reel-header #border {
    position: relative;
    color:#ffff;
}

.reel-header #border::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;              
    transform: translateX(-50%);
    border-bottom: 3px solid #fff;
}

/*h2 and p above footer*/
.reel-page .above-footer h2 {
    display: flex;
    position: absolute;
    font-size: 15px;
    top:668px;
    left: 16px;
    color: #fff;
}

.reel-page .above-footer p {
    display: flex;
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    top:697px;
    left: 16px;
    color: #fff;
}





/* footer */

footer {
    display: flex;
	position: absolute;
    align-items: center;
    min-height: 100px;
	justify-content: space-around;
    left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
    background-color: black;
    
}

footer .nav-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 10px;
    color: #938f8f;
}

footer .nav-item-white {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 25px;
    color: #ffff;
}



/*a footer*/
footer .nav-item a {
   font-size: 25px; 
}

footer #white {
   font-size: 10px; 
}




/*button footer central*/
     
footer #add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 40px;
    height: 30px;
    background-color: #fff;
    color: black;
    border-radius: 9px;
    box-shadow: 
        -3px 0 0px #00eaff,   
         3px 0 0px #ff00cc;  
     
}


    


/*badge notification on Posta in arrivo*/
.badge {
  display: inline-flex;
  position: absolute;
  top:24px;
  right: 136px;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 16px;
  padding: 0 6px;
  background: #ff3b30; 
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 999px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}






/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column; 
    align-items: center;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
    gap:30px;
}

/*profile image icon*/
.sidebar figure img {
  
    width: 50px;          
    height: 50px;
    border-radius: 50%;    
    object-fit: cover;     
    border: 2px solid #fff; 

}



/* button aroud profile image*/
 .sidebar figure .circle {
     display: flex;
     flex-direction: column; 
     justify-content: center;
     align-items: center;
     position: absolute;
     width: 22px;
     height: 22px;
     font-size: 24px;
     border-radius: 50%;
     background: #ff3b30;
     color:#fff;
     top: 39px;
     left: 30px;
}

/* settings icons sidebar*/
.sidebar .side-item {
     display: flex;
     flex-direction: column; 
     align-items: center;
     color: #ffff;
     font-size: 25px;
    
}

.sidebar .side-item #white {
     display: flex;
     flex-direction: column; 
     align-items: center;
     font-size: 15px;
     color: #ffff;
}
